<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>


<section style="background-color: #eee; height: 100%;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><% if (editing) { %>Edit product<% } else { %>Add product<% } %></p>

                <form method="POST" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" class="mx-1 mx-md-4" enctype="multipart/form-data" novalidate>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="title">Title</label>
                      <input type="text" id="title" class="form-control <%= validationErrors.find(e => e.path === 'title') ? 'is-invalid' : '' %>" name="title" value="<% if (editing || hasError) { %><%= product.title %><% } %>" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="description">Description</label>
                      <textarea id="description" class="form-control <%= validationErrors.find(e => e.path === 'description') ? 'is-invalid' : '' %>"  name="description"> <% if (editing || hasError) { %><%= product.description %><% } %> </textarea>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="price">Price</label>
                      <input type="number" step="0.01" id="price" class="form-control <%= validationErrors.find(e => e.path === 'price') ? 'is-invalid' : '' %>"  name="price"  value="<% if (editing || hasError) { %><%= product.price %><% } %>" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="imageUrl">ImageUrl</label>
                      <input type="file" id="imageUrl" class="form-control <%= validationErrors.find(e => e.path === 'imageUrl') ? 'is-invalid' : '' %>"  name="imageUrl"  />
                    </div>
                  </div>
                  

                  <% if(errorMessage) { %>
                  <div class="d-flex justify-content-between mx-4 mb-3 mb-lg-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <div class="alert alert-warning" role="alert">
                        <%= errorMessage %>
                      </div>
                    </div>
                  </div>
                  <% } %>

                  <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                  <% } %>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary mt-3" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"><% if(editing) { %> Edit <% } else { %> Add <% } %> %></button>
                  </div>

                </form>

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('../includes/end.ejs') %>
