<nav aria-label="Page navigation example" class="mb-4">
  <ul class="pagination justify-content-center">
    <% if(hasPreviousPage) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= previousPage %>"tabindex="-1">Previous</a>
    </li>
    <% } %>
    <% if(currentPage !== 1 || previousPage !== 1) { %>
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <% } %>
    
    <% if(hasNextPage) { %>
    <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a></li>
    <% } %>
    <% if(lastPage !== currentPage && nextPage !== lastPage) { %>
    <li class="page-item"><a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a></li>
    <% } %>
    <% if(hasNextPage) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= nextPage %>">Next</a>
    </li>
    <% } %>
  </ul>
</nav>